<div class="window">
    <div class="titlebar">
        <div class="actions">
            <button data-icon="user-profile" (click)="logout()"></button>
        </div>
        <div class="title">
            <p>Counter</p>
        </div>
        <div class="actions">
            <button class="fetcher-manual" data-icon="refresh" (click)="fetchOrders()"></button>
            <button class="fetcher-auto" [attr.data-icon]="(_autofetch ? 'toggleoff' : 'toggleon')" (click)="toggleFetcher()"></button>
        </div>
    </div>
    <div class="tabbar">
        <p
            *ngFor="let tab of _tabs; let i = index"
            [attr.selected]="(_activeTab == i ? true : false)"
            (click)="changeTab(i)"
        >{{tab.title}}</p>
    </div>
    <div class="split" *ngIf="(_activeTab != 2)">
        <div class="list">
            <h3>Orders</h3>
            <p *ngIf="orders(status).length == 0">No orders yet.</p>
            <div class="item" *ngFor="let order of orders(status); let i = index" (click)="select(i)">
                <p>Order #{{order.friendlyId}}</p>
                <p>Table 1</p>
            </div>
        </div>
        <div
            class="bill"
            showing="true"
            [attr.payment]="(_activeTab == 0 ? true : false)"
            *ngIf="(_selectedOrder !== undefined && orders(status)[_selectedOrder] !== undefined)">
            <div class="header">
                <button data-icon="back" (click)="close()"></button>
                <h3>Order #{{orders(status)[_selectedOrder].friendlyId}}</h3>
            </div>
            <div class="total">
                <h3>Total</h3>
                <p>£{{orders(status)[_selectedOrder].total.toFixed(2)}}</p>
            </div>
            <div class="items">
                <div class="item" *ngFor="let item of orders(status)[_selectedOrder].items">
                    <p>{{item.quantity}}x</p>
                    <p>{{item.stockName}}</p>
                    <p>£{{item.totalPrice.toFixed(2)}}</p>
                </div>
            </div>
            <div class="payment" *ngIf="(_activeTab == 0)">
                <button colour="blue" (click)="pay()" *ngIf="(_activeTab == 0)">Payment</button>
            </div>
        </div>
        <div class="bill" showing="false" *ngIf="(_selectedOrder === undefined)">
            <h3>Pick an order to view the bill.</h3>
        </div>
    </div>
</div>