<div class="window redDebug">
    <div class="navbar">
        <div class="actions">
            <button data-icon="account-white-32"></button>
            <button data-icon="list-white-32"></button>
        </div>
        <div class="title redDebug">
            <p>Kitchen View</p>
        </div>
        <div class="actions blueDebug">
            <button data-icon="check-white-32"></button>
        </div>
    </div>
    <div class="order-container">
        <div class="order-item blueDebug">
            <div class="orderNum tableNum greenDebug">
                Order#: {{ order.getOrderNum() }} Table#: {{ order.getTableNum() }}
            </div>
            <div class="tableNum redDebug">
                Hello World
            </div>
            <div class="order-content">
                <ul class="contents-list">
                    <li class="contents-list-item">
                        
                    </li>
                </ul>
            </div>
        </div>
        <!-- Purely to show four order box, single order will be self-replicating -->
        <div class="order-item">
        </div>
        <div class="order-item">
        </div>
        <div class="order-item">
        </div>
        <!-- end -->
    </div>
</div>
