<div class="window">
    <div class="navbar">
        <div class="actions">
            <button data-icon="userprofile" (click)="logout()"></button>
            <button data-icon="list-white-32"></button>
        </div>
        <div class="title">
            <p>Kitchen View</p>
        </div>
        <div class="actions">
            <button data-icon="check-white-32"></button>
        </div>
    </div>

<!-- order-container
order-items are individual table's orders (e.g. every persons orders)
Each order-item includes a orderNum, tableNum, and order-content 
order-content is a div surrounding the order-contents-list
contents-list-item  -->

    <div class="order-container">
        <div class="order-item list" *ngFor="let order of _order; let i = index;">
            <div class="orderNum tableNum greenDebug">
                <!-- Order#: {{ order.friendlyId}} Table#: {{ order.friendlyTableId }} -->
                Order#: {{ order.friendlyId}} Table#: {{ order.tableId }}
            </div>
            <div class="order-content">
                <!--<ul class="contents-list" *ngFor="let orderItem of order.items; let i = index;">
                    <li class="contents-list-item redDebug">
                        {{ orderItem.stockId }}
                    </li>
                </ul>
                -->
                <div class="order-content-item" *ngFor="let orderItem of order.items">
                    <span>{{orderItem.quantity}}</span>
                    <span>{{orderItem.stockName}}</span>
                    <button data-icon="check"></button>
                    <button data-icon="refresh"></button>
                </div>
            </div>
        </div>
    </div>

</div>
