<div class="window">
    <div class="titlebar">
        <div class="actions">
            <button data-icon="user-profile"></button>
        </div>
        <div class="title">
            <p>Admin</p>
        </div>
        <div class="actions"></div>
    </div>
    <div class="tabbar">
        <p selected>Users</p>
        <p>Stock</p>
        <p>Orders</p>
    </div>
    <div class="toolbar">
        <div class="actions">
            <button data-icon="user-new"></button>
            <button data-icon="user-remove-all"></button>
        </div>
        <div class="search">
            <input placeholder="Search for Username..." />
        </div>
    </div>
    <div class="table" displaying="users">
        <div class="header">
            <h3>ID</h3>
            <h3>Username</h3>
            <h3>Password</h3>
            <h3>Admin</h3>
            <h3>Home Area</h3>
        </div>
        <div class="items">
            <div class="item">
                <p>5a96fd1baf0ca325b47d60e4</p>
                <p>username</p>
                <p>******</p>
                <p>Yes</p>
                <p>Admin Area</p>
            </div>
            <div class="item">
                <p>5a9706a7350cd9826cd8b800</p>
                <p>scrub</p>
                <p>******</p>
                <p>Yes</p>
                <p>Wait Area</p>
            </div>
            <div class="item">
                <p>5a99deed4a2242b55cf1fbc4</p>
                <p>scrub2</p>
                <p>******</p>
                <p>Yes</p>
                <p>Wait Area</p>
            </div>
        </div>
    </div>
</div>
