.login {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1;
    width: 400px;
    > p {
        margin: 0 auto;
        padding: 0;
        height: 100%;
        width: 100%;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #FEFEFE;
        font-size: 12pt;
    }
    .inputs {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 10px;
        padding: 10px;
        box-sizing: border-box;
        background-color: #FEFEFE;
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        p {
            margin: 0;
            padding: 0;
            color: #B71C1C;
            font-size: 10pt;
            line-height: 20px;
            text-align: left;
            text-transform: uppercase;
            font-weight: bold;
        }
        input {
            padding: 10px;
            border: 1px solid #E0E0E0;
            border-radius: 4px;
            outline: none;
        }
        input:focus {
            border: 1px solid #9E9E9E;
            box-shadow: 0px 0px 8px 0px #E0E0E0;
        }
        input.ng-dirty.ng-invalid {
            border: 1px solid #EF5350;
        }
        button {
            width: 150px;
            justify-self: center;
            border: none;
            outline: none;
            background-color: #263238;
            border-radius: 4px;
            color: #FEFEFE;
            cursor: pointer;
        }
        button[disabled] {
            background-color: #BDBDBD;
        }
    }
}