.window[showtabs="true"] {
    grid-template-rows: 50px 50px 1fr;
}
.window[showtabs="false"] {
    grid-template-rows: 50px 1fr;
}
.window {
    display: grid;
    grid-template-columns: 1;
    width: 600px;
    height: calc(100vh - 100px);
    background: #FEFEFE;
    border-radius: 4px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
    .navbar {
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: 1fr 150px 1fr;
        background-color: #37474F;
        width: 100%;
        border-radius: 2px 2px 0px 0px;
        .actions {
            display: flex;
            align-items: center;
            padding: 0px 5px 0px 5px;
            box-sizing: border-box;
            width: 100%;
            button {
                padding: 0;
                margin: 0;
                width: 40px;
                height: 40px;
                outline: none;
                border: 0;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 24px 24px;
                cursor: pointer;
            }
        }
        .actions:first-of-type {
            flex-direction: row;
        }
        .actions:last-of-type {
            flex-direction: row-reverse;
        }
        .title {
            p {
                color: #FEFEFE;
                font-size: 12pt;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
    .tabbar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        background-color: #37474F;
        width: 100%;
        p {
            text-align: center;
            font-size: 10pt;
            text-transform: uppercase;
            color: #FEFEFE;
            margin: 0px 10px 0px 10px;
            line-height: 50px;
            border-bottom: 4px solid transparent;
            cursor: pointer;
            opacity: 0.5;
        }
        p:hover {
            opacity: 1;
        }
        p[selected="true"] {
            border-bottom: 4px solid #2196F3;
            opacity: 1;
        }
        .divider {
            margin: 10px;
            width: 1px;
            background-color: #263238;
        }
    }
    .list .item {
        grid-template-columns: 1fr 120px;
    }
}

.list {
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    .item[selected] {
        background-color: #37474F;
        color: #FEFEFE;
    }
    .item {
        display: grid;
        grid-template-rows: 1;
        width: 100%;
        height: 50px;
        padding: 5px;
        box-sizing: border-box;
        cursor: default;
        border-top: 1px solid rgba(0, 0, 0, 0.075);
        border-left: 2px solid transparent;
        .detail {
            display: grid;
            grid-template-rows: 18px 1fr;
            grid-template-columns: 1;
            align-items: center;
            width: 100%;
            p {
                margin: 0;
                padding-left: 10px;
            }
            p:first-of-type {
                font-size: 8pt;
                color: #9E9E9E;
                align-self: end;
            }
            p:not(:only-of-type):last-of-type {
                font-size: 10pt;
                align-self: start;
            }
        }
        > p {
            margin: 0;
            line-height: 40px;
            padding-left: 10px;
            font-size: 12pt;
            box-sizing: border-box;
        }
        button {
            width: 100%;
            height: 100%;
            border: none;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: transparent;
            text-transform: uppercase;
            font-size: 16pt;
            border-radius: 40px;
            font-weight: bold;
            color: #FEFEFE;
            outline: none;
            cursor: pointer;
        }
        .ticker {
            display: grid;
            grid-template-rows: 1;
            grid-template-columns: 40px 40px 40px;
            p {
                margin: 0 auto;
                line-height: 40px;
            }
            button {
                align-self: center;
                justify-self: center;
                width: 32px;
                height: 32px;
                background-size: 24px 24px;
            }
            button[data-style="green"]  { background-color: #388E3C; }
            button[data-style="red"]    { background-color: #B71C1C; }
            button[disabled]            { background-color: #DEDEDE; }
        }
    }
    .marker {
        width: 100%;
        height: 100%;
        border-radius: 2px;
    }
    .marker.pending {
        background-color: #B71C1C;
    }
    .marker.cooking {
        background-color: #F9A825;
    }
    .marker.done {
        background-color: #2E7D32;
    }
    > h3 {
        margin: 0;
        width: 100%;
        padding: 10px;
        font-size: 10pt;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
        border-top: 1px solid rgba(0, 0, 0, 0.075);
        background-color: rgba(0, 0, 0, 0.0125);
    }
    > p {
        width: 100%;
        padding: 10px;
        font-size: 10pt;
        border-top: 1px solid rgba(0, 0, 0, 0.075);
    }
}
.list::-webkit-scrollbar {
    width: 4px;
    height: 0px;
}
.list::-webkit-scrollbar-track {
    box-shadow: inset 4px 0px 4px 0px rgba(0, 0, 0, 0.125);
}
.list::-webkit-scrollbar-thumb {
    background: #263238;
}
.list::-webkit-scrollbar-thumb:window-inactive {
    background-color: #90A4AE;
}

.overlay[display="true"] {
    display: grid;
    visibility: visible;
}
.overlay[display="false"] {
    display: none;
    visibility: hidden;
}
.overlay {
    grid-template-rows: 1;
    grid-template-columns: 1;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    .plate {
        display: grid;
        grid-template-rows: 50px 1fr 50px;
        grid-template-columns: 1;
        width: 250px;
        height: 450px;
        background-color: #FEFEFE;
        border-radius: 4px;
        h3 {
            text-align: center;
            text-transform: uppercase;
        }
        .list {
            overflow-y: scroll;
            .item {
                grid-template-columns: min-content 1fr 40px;
            }
        }
        button {
            width: 32px;
            height: 32px;
            align-self: center;
            justify-self: center;
            border: none;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: transparent;
            text-transform: uppercase;
            font-size: 16pt;
            border-radius: 40px;
            font-weight: bold;
            color: #FEFEFE;
            outline: none;
            cursor: pointer;
            background-color: #388E3C;
            background-size: 24px 24px;
        }
        .cancel {
            border: 1px solid rgba(0, 0, 0, 0.125);
            h3 {
                margin: 0 auto;
                text-align: center;
                text-transform: uppercase;
                line-height: 50px;
                color: #B71C1C;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 700px) {
    .window {
        height: calc(100vh - (100vw - 600px));
        width: 600px;
        border-radius: 0px;
        .navbar {
            border-radius: 0px;
        }
    }
}

@media (max-width: 600px) {
    .window {
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
        .navbar {
            border-radius: 0px;
        }
    }
}

@media (max-height: 500px) {
    .overlay .plate {
        height: calc(100vh - 50px);
    }
}

[data-icon="check"] {
    background-image: url('http://localhost:3000/icon/check/fefefe');
}

[data-icon="plus"] {
    background-image: url('http://localhost:3000/icon/plus/fefefe');
}

[data-icon="minus"] {
    background-image: url('http://localhost:3000/icon/minus/fefefe');
}

[data-icon="account"] {
    background-image: url('http://localhost:3000/icon/user/fefefe');
}

[data-icon="list"] {
    background-image: url('http://localhost:3000/icon/list/fefefe');
}

[data-icon="refresh"] {
    background-image: url('http://localhost:3000/icon/refresh/fefefe');
}

[data-icon="back"] {
    background-image: url('http://localhost:3000/icon/back/fefefe');
}