<div class="window">
    <div class="navbar">
        <div class="actions">
            <button data-icon="account-white-32"></button>
            <button data-icon="list-white-32"></button>
        </div>
        <div class="title">
            <p>New Order</p>
        </div>
        <div class="actions">
            <button data-icon="check-white-32"></button>
        </div>
    </div>
    <div class="tabbar">
        <p selected>Starters</p>
        <p>Mains</p>
        <p>Deserts</p>
        <p>Drinks</p>
    </div>
    <div class="list">
        <div class="item" *ngFor="let stock of _stock" id={{stock.id}}>
            <p>{{stock.name}}</p>
            <div class="ticker">
                <button
                    data-icon="minus-white-24"
                    data-style="red"
                    [disabled]="(quantity(stock.id) == 0 ? true : false)"
                    (click)="remove(stock.id)"
                ></button>
                <p>{{quantity(stock.id)}}</p>
                <button data-icon="plus-white-24" data-style="green" (click)="add(stock.id)"></button>
            </div>
        </div>
    </div>
</div>