<div class="window">
    <div class="navbar">
        <div class="actions">
            <button data-icon="account-white-32"></button>
            <button data-icon="list-white-32"></button>
        </div>
        <div class="title">
            <p>New Order</p>
        </div>
        <div class="actions">
            <button data-icon="check-white-32"></button>
        </div>
    </div>
    <div class="tabbar">
        <p selected>Starters</p>
        <p>Mains</p>
        <p>Deserts</p>
        <p>Drinks</p>
    </div>
    <div class="list">
        <div class="item">
            <p>Nachos</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Garlic Bread</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red"></button>
                <p>1</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
        <div class="item">
            <p>Out of Ideas</p>
            <div class="ticker">
                <button data-icon="minus-white-24" style="red" disabled></button>
                <p>-</p>
                <button data-icon="plus-white-24" style="green"></button>
            </div>
        </div>
    </div>
</div>