@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    color: #212121;
    font-size: 12pt;
    font-family: Roboto, sans-serif;
}
html, body {
    height: 100%;
}
html {
    width: 100%;
}
body {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    background: #263238;
    background: -moz-linear-gradient(45deg, #263238 0%, #37474f 100%);
    background: -webkit-linear-gradient(45deg, #263238 0%,#37474f 100%);
    background: linear-gradient(45deg, #263238 0%,#37474f 100%);
}